.wetherBg {
  background: url("https://www.accuweather.com/images/hero/4/1440x450.jpg");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.wetherBg h1 {
  color: white;
  font-weight: 700;
}
.wetherResultBox {
  margin: auto;
  width: 500px;
  height: 350px;
}
.weatherIcon {
  width: 100px;
  height: 100px;
  margin-top: 2rem;
}
.weatherCity {
  font-size: 35px;
}
.weatherTem {
  font-size: 55px;
  font-weight: 700;
}
